*.py[cod]


# Ansible files:
*.retry


# Ignore local copies of files that require configuration:
# ssh-config file
ansible/ssh-config.local
# inventory file
ansible/hosts.local
# group_vars/all.local.yml file
ansible/group_vars/all.local.yml


# Swap files
*.sw[po]
