---
#
# Tasks to Reset Cloud Forms VMDB and to delete all log files
#
# Note: deleting all log files involves restarting CFME services
#

- name: Stop services
  service: name={{item}} state=stopped
  with_items:
    - evmserverd
    - collectd
    - miqtop
    - miqvmstat
    - httpd

- name: Drop FS caches
  shell: sync; sync; echo 3 > /proc/sys/vm/drop_caches

- name: Restart Postgres
  service: name=rh-postgresql94-postgresql state=restarted

- name: Remove replication
  shell: "cd /var/www/miq/vmdb; bin/rake evm:dbsync:local_uninstall"

- name: Reset database
  shell: "cd /var/www/miq/vmdb; DISABLE_DATABASE_ENVIRONMENT_CHECK=1 bin/rake evm:db:reset"

- name: Seed database
  shell: "cd /var/www/miq/vmdb; bin/rake db:seed"

- name: Work around for https://bugzilla.redhat.com/show_bug.cgi?id=1337525
  shell: "rm -rf /var/www/miq/vmdb/run/httpd/*"

- name: Delete log files
  shell: rm -f {{item}}
  with_items:
    - /var/www/miq/vmdb/log/*.log*
    - /var/www/miq/vmdb/log/apache/*.log*

- name: Start services
  service: name={{item}} state=started
  with_items:
    - miqtop
    - miqvmstat
    - evmserverd
    - collectd
    - httpd
