---
#
# Playbook to reset cfme appliance database, Clean logs, and restart CFME/Miq Services
#

- hosts: cfme-vmdb,cfme-all-in-one
  gather_facts: false
  remote_user: root
  vars_files:
    - ../group_vars/all.yml
    - ../group_vars/all.local.yml
  roles:
    - reset-all
